snippet lnk "Utl-friendly hyperlink tag" 
[[${1:https://www.${2:example.com}}][${3:Display name}]]
endsnippet

snippet "" "Pair double-quotes"
"$1"
endsnippet

snippet '' "Pair single-quotes"
'$1'
endsnippet

snippet (( "Pair parentheses"
($1)
endsnippet

snippet [[ "Pair square brackets"
[$1]
endsnippet

snippet {{ "Pair curly braces"
{$1}
endsnippet

